<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informaci칩n del Chip</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Informaci칩n del Chip: <%= chipId %></h1>
        <p><strong>Due침o:</strong> <%= owner %></p>
        <p><strong>Informaci칩n de Contacto:</strong> <%= contactInfo %></p>
        <p><strong>Nombre del Perrito:</strong> <%= petName %></p>
        <p><strong>Raza del Perrito:</strong> <%= petBreed %></p>
        <p><strong>Edad del Perrito:</strong> <%= petAge %></p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
